Django>=3.2,<4.0
requests>=2.25.1
requests-cache>=0.6.4
retry-requests>=0.1.7
pandas>=1.2.4
gunicorn>=20.1.0
psycopg2-binary>=2.8.6
pytest>=6.2.4
pytest-django>=4.4.0
pytest-mock>=3.6.1
openmeteo-requests>=0.1.1
